.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-list {
  color: red;
}

.course-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: blue;
}

.course-preview.ui.card {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.search-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.new-course-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.search-results {
  margin-top: 50px;
  display: inline-block;
}

.footer {
  margin-top: 50px;
}

.category-select {
  width: 50%;
}

.new-category {
  width: 50%;
}

.course-detail-headers {
  margin-top: 0px;
  margin-bottom: 0px;
}

.course-details-dates {
  width: 50%;
  display: inline-block;
}

.course-notes {
  margin-bottom: 20px;
}

.page-container.ui.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 75%;
}

.signup-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-signup-button {
  margin-top: 30px;
}

.submit-button.ui.button {
  margin-top: 30px;
}